<p style="color: green"><%= notice %></p>

<% content_for :title, "Species Functions" %>

<h1>Species Functions</h1>

<div id="species_functions">
  <% @species_functions.each do |species_function| %>
    <%= render species_function %>
    <p>
      <%= link_to "Show this function", species_function %>
    </p>
  <% end %>
</div>

<%= link_to "New species function", new_species_function_path %>
