<% content_for :title, "New species function" %>

<h1>New species function</h1>

<%= render "form", species_function: @species_function %>

<br>

<div>
  <%= link_to "Back to species function", species_functions_path %>
</div>
