<h1>Canvas</h1>

<div data-controller="canvas">
  <div class="row">

    <div class="col">
      <h2>Espécies</h2>
      <div
        data-controller="search"
        data-search-items-value='<%= raw @species.map { |s|
          {
            id: s.id,
            name: s.name,
            layer: s.layer,
            spacing: s.spacing,
            start_crop: s.start_crop_time,
            end_crop: s.end_crop_time
          }
        }.to_json %>'
      >
        <input
          type="text"
          placeholder="Buscar espécies..."
          class="form-control mb-3"
          data-action="search#filter"
        />
        <ul
          class="list-group position-absolute"
          data-search-target="results"
        ></ul>

        <div data-search-target="list">

        </div>
      </div>
    </div>

    <div class="col">
      <div data-canvas-target="canvasContainer">
      </div>
    </div>

  </div>
</div>
