<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= project.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= project.height %>
  </p>

</div>
