.timeline-bar:hover {
    cursor: pointer;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    stroke: #888;
}

.x-axis text,
.y-axis text {
    font-size: 12px;
}

.x-label {
    font-size: 14px;
    font-weight: bold;
}